<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherWidget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WeatherWidget.Properties.Settings>
            <setting name="TextColorA" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TextColorR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TextColorG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TextColorB" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ShowThemperatue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInetDis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColorA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColorR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColorG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColorB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderColorA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderColorR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="BorderColorG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="BorderColorB" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="BorderLeft" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderRight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderTop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderBottom" serializeAs="String">
                <value>1</value>
            </setting>
        </WeatherWidget.Properties.Settings>
    </userSettings>
</configuration>