<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherWidget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WeatherWidget.Properties.Settings>
            <setting name="LanguageIso" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="GeonameID" serializeAs="String">
                <value>6252001</value>
            </setting>
            <setting name="CityGeonameID" serializeAs="String">
                <value>5128581</value>
            </setting>
            <setting name="Celsium" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCondition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WidgetLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WidgetTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TextColorA" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TextColorR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TextColorG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TextColorB" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ShowThemperatue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApixuKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GeonamesLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowInetDis" serializeAs="String">
                <value>False</value>
            </setting>
        </WeatherWidget.Properties.Settings>
    </userSettings>
</configuration>